[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    [#include 'head-template.html'/]
    <script src="_files/js/swiper.min.js"></script>

    <script src="_files/js/swiper.animate.min.js"></script>
<!--    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">-->
<!--    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">-->
    <link rel="stylesheet" href="_files/css/index.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>

    <style type="text/css">
        .nei-container {
            --swiper-theme-color: #ff6600; /* 设置Swiper风格 */
            --swiper-navigation-color: #00ff33; /* 单独设置按钮颜色 */
            --swiper-navigation-size: 30px; /* 设置按钮大小 */
        }

    </style>
</head>
<body>
<!--头部-->
<div id="header">
    [#include 'header.html'/]
</div>
<!--手机头部-->
<div class="phone_header">
    [#include 'phone_header.html'/]
</div>
<!--主体部分-->
<div class="index_body">
    <!--第一部分-->
    <div class="index_one">
        <!--pc导航-->
        <div class="pc_img pc-container">
            <div class="swiper-wrapper">
                [@InfoList node='banner';infos]
                [#list infos as bean]
                <div class="swiper-slide">
                    <a href="">
                        <img src="${bean.customs['pc_lun']}" alt="" class="pc_img">
                    </a>
                </div>
                [/#list]
                [/@InfoList]
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination banner"></div>
        </div>
        <!--phone-->
        <div class="phone-container">
            <div class="swiper-wrapper">
                [@InfoList node='banner';infos]
                [#list infos as bean]
                <div class="swiper-slide">
                    <a href="">
                        <img src="${bean.customs['phone_lun']}" alt="" class="phone_img">
                    </a>
                </div>
                [/#list]
                [/@InfoList]
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination phone"></div>
        </div>
        <div class="sousuo">
            <form action="/site-gsl/search" method="get" target="_blank">
            <div class="input">
                <input autocomplete="off" name="q"  type="text" placeholder="热门搜索词：打包带 穿剑式打包机带">
                <div class="input_img">
                    <img src="_files/img/ssuo.png" alt="">
                </div>
            </div>
            </form>
        </div>
    </div>
    <!--第二部分-->
    <div class="index_two">
        <div class="two_body">
            <div class="top_left">
                <h4>关于我们</h4>
                <div class="xian"></div>
                <p>ABOUT US</p>
            </div>
            <!--主体部分-->
            <div class="zhuti">
                <div class="ti_img">
                    <img src="_files/img/dt.png" alt="">
                </div>
                <div class="ti_text">
                    <p>公司专业生产各种规格、颜色的拉伸缠绕膜、分切缠绕莫、保护膜、塑钢缠绕膜、各种规格EPE珍珠棉卷材、板材、护角、定型减震包装、打包带、塑钢打包带、气泡膜、低中高粘保护膜、热收缩膜、保鲜膜、胶带、珍珠棉保温胶条、隔音（声）片、阻尼膜、牧草膜、吹膜、制袋等各种塑料制品。2009年我们研发的新型的塑钢型缠绕膜，极大的降底了企业的包装成本和工人的劳动强度，省时、省力、更省钱。 公司在2010年新上了大型的全自动生产线，同时拥有多条生产线及优质的生产设备和精湛的技术...</p>
                    [@Node number='about';bean]
                    <a href="${bean.url}">查看更多</a>
                    [/@Node]
                </div>
            </div>
        </div>
    </div>
    <!--第三部分-->
    <div class="three_both">
        <div class="top_left">
            <h4>产品中心</h4>
            <div class="xian"></div>
            <p>PRODUCT CENTER</p>
        </div>
        <!--pc端-->
        <div class="three_body">
            <div class="nei-container">
                <div class="swiper-wrapper">
                    [@InfoList node='anli' isIncludeChildren='true' ;list]
                    [#list list as info]
                    <a href="${info.url}" class="swiper-slide list_one">
                        <div class="list_img">
                            <img src="${info.smallImage}" alt="">
                        </div>
                        <div class="list_text">
                            <h4>${info.title}</h4>
                        </div>
                    </a>
                    [/#list]
                    [/@InfoList]
                </div>
            </div>
            <div class="swiper-button-prev"></div><!--左箭头。如果放置在swiper-container外面
，需要自定义样式。-->
            <div class="swiper-button-next"></div><!--右箭头。如果放置在swiper-container外面
，需要自定义样式。-->
        </div>
        <div class="more">
            [@Node number='anli';bean]
            <a href="${bean.url}">更多产品</a>
            [/@Node]
        </div>
        <!--手机端-->
        <div class="phone_body">
            <div class="list_body">
                [@InfoList node='anli' isIncludeChildren='true' limit='4';list]
                [#list list as info]
                <a href="${info.url}" class="list_one">
                    <div class="list_img">
                        <img src="${info.smallImage}" alt="">
                    </div>
                    <div class="list_text">
                        <h4>${info.title}</h4>
                    </div>
                </a>
                [/#list]
                [/@InfoList]
            </div>
        </div>
    </div>
    <!--第四部分-->
    <div class="index_four">
        <img src="_files/img/bannerl2.png" alt="">
    </div>
    <!--第五部分-->
    <div class="index_five">
        <div class="five_both">
            <div class="top_left">
                <h4>新闻中心</h4>
                <div class="xian"></div>
                <p>NEWS CENTER</p>
            </div>
            <div class="five_body">
                [@InfoList node='news' limit='1';list]
                [#list list as info]
                <a href="${info.url}" class="body_left">
                    <div class="five_img">
                        <img src="${info.smallImage}" alt="">
                    </div>
                    <div class="five_text">
                        <div class="text_time">
                            <h4>${info.title}</h4>
                            <span>${info.publishDate?string('YYYY/MM/dd')}</span>
                        </div>
                        <span class="text_span">[#noescape]${info.text}[/#noescape]</span>
                    </div>
                </a>
                [/#list]
                [/@InfoList]
                <!--新闻左边部分-->
                <div class="five_right">
                    [@InfoList node='news' limit='4';list]
                    [#list list as info]
                    <a href="${info.url}" class="right_one">
                        <div class="one_time">
                            <p>${info.publishDate?string('dd')}</p>
                            <p>${info.publishDate?string('YYYY/MM')}</p>
                        </div>
                        <div class="one_text">
                            <h4>${info.title}</h4>
                            <span>[#noescape]${info.text}[/#noescape]</span>
                        </div>
                    </a>
                    [/#list]
                    [/@InfoList]
                </div>
            </div>
        </div>
    </div>
    <!--第六部分-->
    <div class="index_six">
        <div class="six_both">
            <div class="top_left">
                <h4>联系我们</h4>
                <div class="xian"></div>
                <p>CONTACT US</p>
            </div>
            <!--主体部分-->
            <div class="six_body">
                <div class="phone_input">
                    <h4>留下您的联系方式我们的工作人员将在随后跟您联系</h4>
                    <form id="guestbookForm_phone" action="${ctx}/guestbook2/create2" method="post" class="pc_form">
                        <input type="hidden" name="status_0" value="留言成功！"/>
                        <input type="hidden" name="status_1" value="留言成功，请等待管理员审核！"/>
                        <input type="hidden" name="siteNumber" value="jxkj"/>
                        <input type="hidden" name="typeId" value="355"/>
                        <input type="hidden"  autocomplete="off" name="nextUrl" value="${ctx}/"/>
                        <div class="pc_first">
                            <div class="us_name">
                                <div class="input_name">
                                    <input type="text"  autocomplete="off" id="name" name="username" placeholder="姓名">
                                </div>
                                <div class="input_name">
                                    <input type="text"  autocomplete="off" id="phone" name="phone" placeholder="电话">
                                </div>
                                <div class="input_name">
                                    <input type="text"  autocomplete="off" id="email" name="phone" placeholder="邮箱">
                                </div>
                                <div class="input_name">
                                    <input type="text"  autocomplete="off" id="text" name="phone" placeholder="您的详细需求">
                                </div>
                            </div>
                            <button id="checkPhone" onClick='javascript:return checkPhone(0);'>发送</button>
                        </div>
                    </form>
                </div>
                <div class="map">
                    <div id="container"></div>
                </div>
                <div class="six_input">
                    <h4>留下您的联系方式我们的工作人员将在随后跟您联系</h4>
                    <form id="guestbookForm_pc" action="${ctx}/guestbook2/create2" method="post" class="pc_form">
                        <input type="hidden" name="status_0" value="留言成功！"/>
                        <input type="hidden" name="status_1" value="留言成功，请等待管理员审核！"/>
                        <input type="hidden" name="siteNumber" value="jxkj"/>
                        <input type="hidden" name="typeId" value="355"/>
                        <input type="hidden"  autocomplete="off" name="nextUrl" value="${ctx}/"/>
                        <div class="pc_first">
                            <div class="us_name">
                                <div class="input_name">
                                    <input type="text"  autocomplete="off" id="name" name="username" placeholder="姓名">
                                </div>
                                <div class="input_name">
                                    <input type="text"  autocomplete="off" id="phone" name="phone" placeholder="电话">
                                </div>
                                <div class="input_name">
                                    <input type="text"  autocomplete="off" id="email" name="phone" placeholder="邮箱">
                                </div>
                                <div class="input_name">
                                    <input type="text"  autocomplete="off" id="text" name="phone" placeholder="您的详细需求">
                                </div>
                            </div>
                            <button id="checkPhone" onClick='javascript:return checkPhone(0);'>发送</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--pc端底部-->
<div class="footer">
    [#include 'footer.html'/]
</div>
<!--phone_底部-->
<div class="phone_footer">
    [#include 'nav_footer.html'/]
</div>
<link rel="stylesheet" href="_files/js/animate.min.css">
<script src="_files/js/swiper.min.js"></script>
<script src="_files/js/swiper.animate.min.js"></script>
<link rel="stylesheet" href="_files/js/swiper.min.css">
<script src="_files/js/jquery.min.js"></script>
<script>
    var myswiperpc = new Swiper('.pc-container', {   //55555555
        scrollbar: '.swiper-scrollbar',
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: true,

        },
        loop: true,
        pagination: {
            el: '.banner'
        },
    });

    var myswiperPhone = new Swiper('.phone-container', {   //55555555
        scrollbar: '.swiper-scrollbar',
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: true,
        },

        pagination: {
            el: '.phone'
        },
        loop: true,
    });
    var mySwipernei = new Swiper('.nei-container', {
        slidesPerView: 3,
        spaceBetween: 30,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        loop: true,
    });
    $("#checkPhone").click(function () {

        var username=$("#name").val();
        var email = $("#email").val();
        var tel=$("#phone").val();
        if (username == ""){
            alert("请输入您的姓名，方便联系");
            return false;
        }
        if (tel == ""){
            alert("请输入您的电话，方便联系");
            return false;
        }else if(tel !=""){
            var meg= /^1[3|5|6|7|8|9][0-9]{9}$/;
            isok =meg.test(tel);
            if(!isok){
                alert("手机格式不正确，请重新输入");
                return false;
            }
        };
        if(test == ""){
            alert("请输入您的需求");
            return false;
        }
        return true;
    })

    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }

    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("container");//在百度地图容器中创建一个地图
        var point = new BMap.Point(113.620642,34.727628);//定义一个中心点坐标
        map.centerAndZoom(point,14);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        map.addControl(ctrl_sca);
    }

    //标注点数组
    var markerArr = [{title:"PPE打包带",content:"郑州市中原区创客大厦",point:"113.620642|34.727628",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
    ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor:"#808080",
                color:"#333",
                cursor:"pointer"
            });

            (function(){
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click",function(){
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open",function(){
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close",function(){
                    _marker.getLabel().show();
                })
                label.addEventListener("click",function(){
                    _marker.openInfoWindow(_iw);
                })
                if(!!json.isOpen){
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://api.map.baidu.com/lbsapi/creatmap/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }

    initMap();//创建和初始化地图
</script>
</body>
</html>
[/#escape]