[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
    [#include 'head-template.html'/]
    <link rel="stylesheet" href="_files/css/linkUs.css">
    <script src="_files/js/swiper.min.js"></script>

    <script src="_files/js/swiper.animate.min.js"></script>
<!--    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>
<body>
<div id="header">
    [#include 'header.html'/]
</div>
<!--手机头部-->
<div class="phone_header">
    [#include 'phone_header.html'/]
</div>
<!--主体部分-->
<div class="header_img">
    <img src="_files/img/bothbanner.png" alt="">
</div>
<div class="ph_img" >
    <img src="_files/img/bannerl4.png" alt="">
</div>
<!--地址-->
<div class="news_body">
    <div class="news_stree">
        <div class="daohang">
            <a href="${site.url}">首页></a>
            <span>联系我们</span>
        </div>
        <form action="/site-gsl/search" method="get" target="_blank">
            <div class="sousuo">
                <input autocomplete="off" name="q" type="text" placeholder="热门搜索词：打包带 穿剑式打包机带 迷你黑色打包带">
                <div class="input_img">
                    <img src="_files/img/ssuo.png" alt="">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="bcx"></div>
<!--主体部分-->
[@Info id='5931';bean]
<div class="us_body">
    <div class="body_one">
        <img src="_files/img/dmap.png" alt="">
        <h4>公司地址</h4>
        <p>${site.customs['addr']}</p>
    </div>
    <div class="body_one">
        <img src="_files/img/uemail.png" alt="">
        <h4>公司有邮箱</h4>
        <p>${site.customs['mailAddr']}</p>
    </div>
    <div class="body_one">
        <img src="_files/img/uphone.png" alt="">
        <h4>联系方式</h4>
        <a href="136849586237">
            <p>${site.customs['phone']}</p>
        </a>
        <a href="0371-0897865">
            <p>${site.customs['fixedLine']}</p>
        </a>
    </div>
    <div class="body_one">
        <img src="_files/img/uqq.png" alt="">
        <h4>联系QQ</h4>
        <p>客服1:  ${site.customs['qq']}</p>
        <p>客服2:  ${site.customs['qqqun']}</p>
    </div>
</div>
[/@Info]
<div class="three_both">
    <div class="top_left">
        <h4>我们的地址</h4>
        <div class="xian"></div>
        <p>OUR ADDRESS</p>
    </div>
    <!--地图-->
    <div class="map">
        <div class="map_tress">
            <div id="map_ding"></div>
        </div>
        <a href="https://map.baidu.com/poi/%E5%88%9B%E5%AE%A2%E5%A4%A7%E5%8E%A6/@12648329.375681888,4102390.953505,19z?uid=15ca015fc555b222f7c59c77&ugc_type=3&ugc_ver=1&device_ratio=1&compat=1&querytype=detailConInfo&da_src=shareurl" class="map_zhe">
            <div class="zhe_body">
                <div class="zhe_text">
                    <h4>郑州PPE打包带包装设备制造有限公司</h4>
                    <p>Zhengzhou PPE Packing Tape Packaging Equipment Manufacturing Co., Ltd.</p>
                </div>
                <div href="" class="zhe_map">
                    <div class="map_bao">
                        <img src="_files/img/zmap.png" alt="">
                        <span>立即导航</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<!--pc_底部-->
<div class="footer">
    [#include 'footer.html'/]
</div>
<!--phone_底部-->
<div class="phone_footer">
    [#include 'nav_footer.html'/]
</div>
<link rel="stylesheet" href="_files/js/animate.min.css">
<script src="_files/js/jquery.min.js"></script>

<script>
    $("#header").load("public/header.html")
    $(".lian").load("public/lian.html")
    $(".footer").load("public/footer.html")
    $(".phone_footer").load("public/phone_footer.html")
    window._bd_share_config = {
        common : {
            bdPopTitle:'窗口标题',
            bdText : '发现一个新的网页，快来围观啊~',
            bdDesc : 'Custom share summary', // 自定义分享摘要
            bdUrl : 'http://www.yihongshiji.com/',     //自定义分享url地址
            bdPic : 'images/code.png' //自定义分享图片
        },
        share : [{
            "bdSize" : 16
        }],



    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];


    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }

    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("map_ding");//在百度地图容器中创建一个地图
        var point = new BMap.Point(113.620642,34.727628);//定义一个中心点坐标
        map.centerAndZoom(point,14);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        map.addControl(ctrl_sca);
    }

    //标注点数组
    var markerArr = [{title:"PPE打包带",content:"郑州市中原区创客大厦",point:"113.620642|34.727628",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
    ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor:"#808080",
                color:"#333",
                cursor:"pointer"
            });

            (function(){
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click",function(){
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open",function(){
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close",function(){
                    _marker.getLabel().show();
                })
                label.addEventListener("click",function(){
                    _marker.openInfoWindow(_iw);
                })
                if(!!json.isOpen){
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://api.map.baidu.com/lbsapi/creatmap/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }

    initMap();//创建和初始化地图
</script>
</body>
</html>
[/#escape]