.lian {
  background: #F8F9FA;
}
.header_img {
  width: 100%;
}
.header_img img {
  width: 100%;
  object-fit: cover;
}
.news_body {
  margin: 2rem 0 1rem;
}
.news_body .news_stree {
  width: 63%;
  margin: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.news_body .news_stree .daohang {
  width: 63%;
  margin: auto;
}
.news_body .news_stree .daohang a {
  color: #666666;
  font-size: 1.17rem;
  text-decoration: none;
}
.news_body .news_stree .daohang span {
  font-size: 1.17rem;
  color: #0691CA;
}
.news_body .news_stree .sousuo {
  width: 40%;
  position: relative;
}
.news_body .news_stree .sousuo input {
  width: 35rem;
  height: 4.17rem;
  border: 1px solid #d9d9d9;
  font-size: 1.17rem;
  font-weight: 400;
  outline: none;
  opacity: 0.4;
  padding: 0 1rem;
  border-radius: 5px;
}
.news_body .news_stree .sousuo .input_img {
  display: inline-block;
  top: 1.5rem;
  position: absolute;
  right: -20rem;
}
.us_body {
  width: 63%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.us_body .body_one {
  text-align: center;
  width: 20%;
  height: 17.33rem;
  background: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.06);
  border-radius: 1rem;
  padding: 4rem 2rem;
}
.us_body .body_one h4 {
  height: 1.42rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #333333;
  line-height: 2.5rem;
}
.us_body .body_one p {
  margin: auto;
  font-size: 1.17rem;
  font-weight: 400;
  color: #999999;
  line-height: 2.5rem;
}
.us_body .body_one a {
  text-decoration: none;
}
.three_both {
  width: 100%;
  margin: auto;
  position: relative;
}
.three_both .top_left {
  width: 80%;
  margin: 5rem auto;
  text-align: center;
}
.three_both .top_left h4 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #333333;
  margin: 0;
  line-height: 2;
}
.three_both .top_left .xian {
  width: 6.68rem;
  height: 0.33rem;
  background: #0691ca;
  border-radius: 5px;
  display: inline-block;
}
.three_both .top_left p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #999999;
}
.three_both .map {
  width: 100%;
  height: 100%;
}
.three_both .map .map_tress {
  position: relative;
}
.three_both .map .map_tress #map_ding {
  width: 100%;
  height: 538px;
}
.three_both .map .map_zhe {
  width: 100%;
  height: 11.67rem;
  background: #0691ca;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  text-decoration: none;
}
.three_both .map .map_zhe .zhe_body {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  height: 11.67rem;
}
.three_both .map .map_zhe .zhe_body .zhe_text {
  width: 60%;
  height: 100%;
  text-decoration: none;
}
.three_both .map .map_zhe .zhe_body .zhe_text h4 {
  height: 0.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: #ffffff;
}
.three_both .map .map_zhe .zhe_body .zhe_text p {
  height: 1.08rem;
  font-size: 1.17rem;
  font-weight: 400;
  color: #ffffff;
}
.three_both .map .map_zhe .zhe_body .zhe_map {
  text-align: center;
  margin: auto;
  width: 16rem;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 5px;
  height: 4rem;
}
.three_both .map .map_zhe .zhe_body .zhe_map .map_bao {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: 60%;
  margin: auto;
}
.three_both .map .map_zhe .zhe_body .zhe_map .map_bao img {
  z-index: 11;
  height: 2rem;
  width: 2rem;
  margin: auto 0;
}
.three_both .map .map_zhe .zhe_body .zhe_map .map_bao span {
  height: 1.42rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  margin: auto 0;
}
.phone_footer,
.phone_header,
.phone_footer,
.ph_img {
  display: none;
}
.bcx {
  width: 100%;
  height: 0.08rem;
  background: #f9f9f9;
  margin-bottom: 4rem;
}
@media (max-width: 641px) {
  .phone_footer,
  .phone_header,
  .ph_img {
    display: block;
  }
  .news_body .news_stree form .sousuo,
  .header_img {
    display: none !important;
  }
  #header,
  .footer,
  .news_body > .news_stree > .news_body .news_stree form .sousuo,
  .three_body,
  .bcx {
    display: none;
  }
  .ph_img {
    width: 100%;
    height: 21rem;
  }
  .ph_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .news_body {
    width: 100% !important;
  }
  .news_body .news_stree {
    width: 90% !important;
  }
  .news_body .news_stree .daohang {
    width: 100%;
  }
  .us_body {
    width: 90%;
  }
  .us_body .body_one {
    width: 48%;
    height: 13.93rem;
    background: #ffffff;
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.06);
    border-radius: 0rem;
    padding: 2rem 0 0;
    margin-bottom: 2rem;
  }
  .us_body .body_one h4 {
    height: 1.17rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: #333333;
    line-height: 1.49rem;
  }
  .us_body .body_one p {
    height: 2.46rem;
    font-size: 1rem;
    font-weight: 400;
    color: #999999;
    line-height: 1.49rem;
  }
  .three_both {
    width: 100%;
    margin-bottom: 4.7rem;
  }
  .three_both .top_left {
    margin: 1rem auto;
  }
  .three_both .top_left h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333333;
  }
  .three_both .top_left .xian {
    width: 3.34rem;
    height: 0.17rem;
    background: #0691ca;
    border-radius: 5px;
  }
  .three_both .top_left p {
    height: 0.79rem;
    font-size: 1rem;
    font-weight: 400;
    color: #999999;
  }
  .three_both .map .map_tress #map_ding {
    height: 32rem !important;
  }
  .three_both .map .map_zhe {
    height: 5.83rem;
    background: #0691ca;
    opacity: 0.8;
    text-decoration: none;
  }
  .three_both .map .map_zhe .zhe_body {
    width: 100%;
    height: 100% !important;
  }
  .three_both .map .map_zhe .zhe_body .zhe_text {
    width: 100%;
    text-align: center;
  }
  .three_both .map .map_zhe .zhe_body .zhe_text h4 {
    height: 0.6rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: #ffffff;
  }
  .three_both .map .map_zhe .zhe_body .zhe_text p {
    height: 0.54rem;
    font-size: 0.58rem;
    font-weight: 400;
    color: #ffffff;
  }
  .three_both .map .map_zhe .zhe_body .zhe_map {
    display: none;
  }
}
/*# sourceMappingURL=linkUs.css.map */